<h1> Welcome to BleatHowl </h1>
<h1> ENJOY..!!</h1>
<p> Welcome to our homepage. You can edit your blog posts here</p>

<ul>
	<li><a href="/sign-up">Sign Up!</a></li>
	<li><a href="/sign-in">Sign In!</a></li>
</ul>

<a href="/users">users</a>
<a href="/profile">profile</a>
<a href="/feed">feed</a>

