<h1> Welcome to BleatHowl </h1>
<h1> ENJOY..!!</h1>
<p> Welcome to our homepage. You can edit your blog posts here</p>

<ul>
	<li><a href="/sign-up">Sign Up!</a></li>
	<li><a href="/sign-in">Sign In!</a></li>
</ul>

<% posts = Post.all %>
<% posts.each do |post| %>
<p>
	<a href='/blogpost'><%="#{post.title}"%> </a> 
	by <a href="/profile"><%="#{post.user.username}"%></a>
</p><p>
<%= post.body %>
</p>
<hr>
<% end %>

<a href="/users">users</a>
<a href="/profile">profile</a>
<a href="/feed">feed</a>

