<h1> Welcome to BleetHowl </h1>
<h1> ENJOY..!!</h1>
<p> Welcome to our homepage. You can edit your blog posts here</p>

<a href="/users">users</a>
<a href="/profile">profile</a>
<a href="/feed">feed</a>

