<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="./CSS/style.css">
		<title>
			
		</title>
	</head>
	<body>
		<%= yield %>

		<div class="flash">
			<%= flash[:notice] if flash[:notice] %> 
			<%= flash[:alert] if flash[:alert] %>
		</div>
		
		<p>
		
			<a href="/">Home</a>
		</p>
	</body>
</html>