<h1> Sign-In to BleatHowl</h1>

<form method="POST" action="/sign-in">
	<p>  
		<label for="username">Username</label> 
		<input type="text" name="username">  
		<label for="password">Password</label> 
		<input type="password" name="password">
	</p>
	<hr>          
	<input type="Submit">
	<hr>    
</form>

