<h1> Become a Member with BleatHowl</h1>

<form method="POST" action="/sign-up">
	<div class="row">
		<label for="username">Username</label> 
		<input class="form-control" type="text" name="username">  
		<label for="password">Password</label> 
		<input class="form-control" type="text" name="password">
	</div>
	<div class="row"> 
		<label for="fname">First Name</label> 
		<input class="form-control" type="text" name="fname">
		<label for="lname">Last Name</label> 
		<input class="form-control" type="text" name="lname">
		<label for="country">Country</label> 
		<input class="form-control" type="text" name="country">
		<hr> 
	</div>         
	<input class="btn btn-lg btn-primary btn-block" type="Submit">
</form>
<hr>
<a href="/sign_in"></a>