<h1> Sign-In to BleatHowl</h1>

<form method="POST" action="/sign-in">
	<div class="row">
		<label for="username">Username</label> 
		<input class="form-control" type="text" name="username">  
		<label for="password">Password</label> 
		<input class="form-control" type="password" name="password">
	</div>
	<hr>          
	<input type="Submit">
	<hr>    
</form>

