<h1> Quit BleatHowl and Delete all My Entries</h1>

<form method="POST" action="/user_delete">
	<div class="well">
		This action deletes your Account, your Blog, and all entries you've ever put in it. It cannot be reversed.
	</div>
	<div class="row">
		<input type="Submit" class="btn btn-lg btn-primary btn-block" value="I Understand. Do It.">
	</div>
</form>