body {
	padding-top: 140px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

	background-image: url('/images/wool.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
}
.navbar-bleathowl-custom {
	height: 135px;
	border-bottom: solid black 3px;
}
.profile-li {
	list-style-type: none;
}
.profile-li a {
	color: gray;
}
.profile-li a:hover {
	color: white;
}
.navbar-font {
	color: white;
	font-size: 14pt;
	margin-top: 40px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: white;
    color: black;
}
.navbar .nav > li > a {
/*.nav > li > a {*/
	color: white;
	font-size: 14pt;
	margin-top: 40px;

	line-height: 19px;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
 /*   padding: 9px 10px 11px;
 text-decoration: none;*/
}
.wolfbg {
	background-image: url('/images/wolf.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
}
.woolbg {
	background-image: url('/images/wool.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
}
.boxed {
	border: solid black 3px;
}
.blogpost {
	font-size: 14pt;	
}
.bigLogo {
	position: fixed;
}


.flash {
	color: red;
	margin: auto;
	width: 400px;
}

#header {
	margin: auto;
	width: 250px;
}

#header a {
	font-size: 100px;
}

#content {
	margin: auto;
	width: 500px;
}

#linkGroup {
	text-align: right;
}

.lnkGrp {
	text-align: right;
}

.post {
	margin-top: 80px;
	background-color: black;
	color: green;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10px;
}

.comment {
	background-color: white;
	color: gray;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.profileMod {
	text-align: right;
}

.profile {
	border: 1px solid white;
}

a.profileLink {
	font-size: 50px;	
	text-decoration: none;
}

.byline {
	display: inline;
	float: right;
}
.posTitle {
	display: inline;
	float: left;
}

.loginFieldLabel {
	display: inline;
}
.loginField {
	display: inline;
	width: 60%;
	float: right;
}